/* General y variables */

* {
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  :root{
    --BlueDark:#FFFFFF; /* Texto principal en blanco */
    --BlueClear:#E0E0E0; /* Texto secundario en gris claro */
    --White:#8A2BE2; /* Fondo de elementos en morado bonito */
    --Whiteback:#4B0082; /* Fondo principal en morado más oscuro */
  }
  
  /* Body */
  
  body {
    background-color: var(--Whiteback);
    transition: background-color 0.5s ease;
   }
  
  /* Header */
  
  header {
    background-color: var(--White);
    border-radius: 25px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
   }
  
   .Titulo {
    color: var(--BlueClear);
   }
  
   header button {
    border: none ;
    background: none;
    margin: 0 10px;
    color: var(--BlueClear);
   }
  
   header a {
    text-decoration: none;
    border: none ;
    background: none;
    margin: 0 10px;
    color: var(--BlueClear);
   }
  
   header h1 {
    color: var(--BlueDark);
   }	
  
   header a:hover {
    border-radius: 3px;
    cursor: pointer;
    border-radius: 10px;
   }
   
   header a:hover {
    border-radius: 3px;
    cursor: pointer;
    border-radius: 10px;
    color: var(--BlueDark);
   }
   
   /* General secciones secundarias */
   
   .TextoSeccion {
    margin-bottom: 5px;
    margin-left: 5px;
    color: var(--BlueDark);
   }
  
  /* Seccion Principal */

 .section-1 {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  background-color: var(--White);
  border-radius: 25px;
  padding: 10px;
  text-align: justify;
 }
 
 .section-1 h2 {
  text-align: center;
  color: var(--BlueDark);
  margin-top: 0;
 }

 .section-1 p {
  color: var(--BlueClear);
  margin-top: 10px;
 }
 
 .section-1 .text-small {
  color: var(--BlueClear);
  margin-top: 10px;
 }

/* Seccion 2 */

 .section-2 {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  background-color: var(--White);
  border-radius: 25px;
  padding: 10px;
  text-align: justify;
 }

 .section-2 h2 {
  color: var(--BlueDark);
  margin-top: 0;
 }

 .section-2 p {
  color: var(--BlueClear);
  margin-top: 10px;
 }
 
 .section-2 .text-small {
  color: var(--BlueClear);
  margin-top: 10px;
 }

 .section-2 span {
  font-size: 20px;
  color: var(--BlueDark);
  }

 .section-2-left {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  background-color: var(--White);
  border-radius: 25px;
  padding: 10px;
  text-align: right justify;
 }
 

 .section-2-left h2 {
  color: var(--BlueDark);
  margin-top: 0;
 }

 .section-2-left p {
  color: var(--BlueClear);
  margin-top: 10px;
 }
 
 .section-2-left .text-small {
  color: var(--BlueClear);
  margin-top: 10px;
 }

 /* Seccion de galeria */
 .section-galeria {
    display: flex; 
    justify-content: space-around;
    object-fit: contain;
   }

 .section-galeria > a {
  background-color: var(--White);
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
  text-decoration: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  padding: 10px;
  width: 40%;
 }

 .section-galeria a > div > h4 {
  text-align: center;
  color: var(--BlueDark);
  margin-top: 10px;
 }

 .section-galeria a > div > img {
  margin-top: 5%;
  align-self: center;
  display: flex;
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  object-fit: contain;
}

   /* Footer */
  
   footer {
    background-color: var(--White);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
   }
  
   footer p {
    align-self: center;
    color: var(--BlueDark);
    margin-top: 0;
   }

   
  h5,h6,h2 {
    color: var(--BlueDark);
  }

  /* Seccion nosotrs */

.section-nos {
  justify-content: space-between;
 }	

  .section-nos > div {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  background-color: var(--White);
  border-radius: 25px;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  padding-left: 4px;
  padding-right: 4px;
 }

  .section-nos a {
  text-decoration: none;
  border: none ;
  background: none;
  margin: 0 10px;
  color: var(--BlueClear);
 }

  .section-nos h3 {
  color: var(--BlueDark);
  margin-top: 0;
 }

  .section-nos h3> span {
  color: var(--BlueDark);
  align-self: right;
 }
 
  .section-nos p {
  color: var(--BlueClear);
  margin-top: 10px;
 }
 
  .section-nos button {
  align-self: flex-end;
  margin-left: 90%;
  border: none ;
  background: none;
  color: var(--BlueClear)
 }

  .section-nos button:hover {
  border-radius: 3px;
  cursor: pointer;
  border-radius: 10px;
  color: var(--BlueDark);
 }
