/* General y variables */

* {
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  :root{
    --Gray:#394867;
    --DarkGray:#14274E;
    --Blue:#9BA4B4;
    --White:#F1F6F9;
  }
  
  /* Body */
  
  body {
    background-color: var(--Gray);
    transition: background-color 0.5s ease;
   }
  
  /* Header */
  
  header {
    background-color: var(--DarkGray);
    border-radius: 25px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0,tting);
   }
  
   .Titulo {
    color: var(--Blue);
   }
  
   header button {
    border: none ;
    background: none;
    margin: 0 10px;
    color: var(--White);
   }
  
   header a {
    text-decoration: none;
    border: none ;
    background: none;
    margin: 0 10px;
    color: var(--White);
   }
  
   header h1 {
    color: var(--Blue);
   }	
  
   header a:hover {
    border-radius: 3px;
    cursor: pointer;
    border-radius: 10px;
   }
   
   header a:hover {
    border-radius: 3px;
    cursor: pointer;
    border-radius: 10px;
    color: var(--Blue);
   }
  
   /* General secciones secundarias */
   
  body .TextoSeccion {
    text-align: center;
  }

   .TextoSeccion {
    margin-bottom: 5px;
    margin-left: 5px;
    color: var(--Blue);
   }
  
   /* Botones */
   
   .setting {
    margin-bottom: 5px;
    display: flex; 
    justify-content: space-around;
    margin-right: 5px;
    margin-left: 5px;
   }
  
   .setting > div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding: 0 10%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    background-color: var(--DarkGray);
    border-radius: 25px;
  }

  .setting div > a {
    text-decoration: none;
  }

  .setting div > a > h4 {
    font-size: 2rem;
    align-self: flex-start;
    color: var(--Blue);
  }

  .setting div > a > h4 {
    font-size: 2rem;
    align-self: flex-start;
    color: var(--Blue);
  }
  
  .setting div > a > span {
    font-size: 3rem;
    align-self: center;
    color: var(--Blue);
  }


   /* Footer */

 footer {
    background-color: var(--DarkGray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
   }
  
   footer p {
    align-self: center;
    color: var(--White);
    margin-top: 0;
   }